.container {
    position: relative;
    width: 100%;
}

.listContainer {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}
