.noContentMsg {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.2rem;
    padding: 1.5rem;
}

:global(.mobile) .noContentMsg {
    text-align: center;
}
